<!DOCTYPE html>
<html>

    <head>
        <style>
            html{
                background-color: rgb(0,35,92);
            }

            .text {
                color: white;
            }
        
        </style>
        <title>Visao Computacional</title>

        
    </head>

    <body>
        <h1 class="text">Visao Computacional</h1>
        <p class="text">Reposta do Python com a Imagem</p>

        <div>
            <h3 class="text" >
                OpenCV
            </h3>
            <img src="/static/{{imagem}}" alt="Logotipo">
        </div>


        <div>
            <h3 class="text">
                Google Vision API
            </h3>
            <div class="text" >
                {% for e in rostos %}
                    ROSTO: {{e.id}} <br>
                    FELIZ: {{e.feliz}} <br>
                    RAIVA: {{e.raiva}} <br>
                    TRISTE: {{e.triste}} <br>
                    SURPRESO: {{e.surpreso}} <br>
                    LOCALIZACAO DO ROSTO NA IMAGEM: {{e.vertices}} <br> <br> <br>
                {% endfor %}
            </div>
        </div>

    </body>

</html>